:host {
  --secondary-color: rgba(31, 28, 28, 0.2);
}

.form-elements {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.align-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-form {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(53, 53, 53, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 2%;
  margin-bottom: 0px;
}

button {
  padding: 5px 10px;
}

select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
small {
  color: red;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px 10px;
  padding: 20px;
}

thead th {
  background-color: var(--secondary-color);
}
tbody tr {
  background-color: var(--secondary-color);
}

td,
th {
  padding: 2px;
}

.top-elements {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

tbody tr:hover {
  transform: scale(1.02);
}

p {
  background-color: var(--secondary-color);
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-transacation {
  background-color: var(--secondary-color);
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.transactionsModal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1px;
  width: 500px;
}

.close-transaction {
  text-align: right;
}
span.close-transaction:hover {
  cursor: pointer;
}

.align-analytics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.align-restore-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

button {
  border: none;
}

div.button-container button {
  flex: 0 0 calc(50% - 10px);
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.button-container button:hover {
  background-color: #0056b3;
}

.statistics {
  margin-top: 2%;
}
h2 {
  text-align: center;
}

@media screen and (max-width: 496px) {
  .transactionsModal {
    width: auto;
  }
}

@media screen and (max-width: 469px) {
  .align-analytics {
    flex-direction: column;
  }
  .button-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .top-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
