* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.container {
  border: 1px solid black;
  padding: 20px 10px;
  margin-top: 5%;
  width: 450px;
}
h3 {
  margin-bottom: 15px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
input {
  height: 30px;
}
button {
  width: 100%;
  height: 30px;
  background-color: blue;
  color: white;
  border: none;
  align-self: center;
}
table,
td,
th {
  border-collapse: collapse;
  border: 1px solid rgb(187, 187, 187);
  text-align: left;
}
table {
  width: 100%;
}
td,
th {
  padding: 10px;
}
.inventory-list {
  padding: 20px 0px;
}
span {
  color: red;
  font-size: small;
}
#update-product-button {
  display: none;
}