form{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 300px;
    padding: 5px;
}

.align-contents{
    display: flex;
    flex-direction: column;
    
}