<p>Hi sign up</p>

<div>
    <form #SignUpFormData="ngForm" (ngSubmit)="onSubmit(SignUpFormData)">
        <div class="align-contents">
            <label  for="username">
                Name:
                <input type="text" name="uname" id="username" placeholder="Enter your name" required ngModel>
             </label>
        </div>
        <div class="align-contents">
            <label for="passcode">
                Password:
                <input type="text" name="upasscode" id="passcode" placeholder="Enter an password" required ngModel>
             </label>
        </div>
        <button type="submit">Submit</button>
   </form>
</div>