<div class="container">
  <div class="sub-container">
    <div>
      <p class="text-part">
        Appforms is a platform which enables you to build business forms and
        extend them to include complex business logic, working with data from
        SQL Server databases, Web Services, and WCF services.
      </p>
    </div>
    <form #signInForm="ngForm" (ngSubmit)="GetLoggedUserInfo(signInForm)">
      <div class="center-form-content">
        <div class="align-contents">
          <label for="username"> Name: </label>
          <input
            type="text"
            name="uname"
            id="username"
            placeholder="Enter your name"
            required
            [(ngModel)]="userName"
          />
        </div>
        <div class="align-contents">
          <label for="passcode"> Password: </label>
          <input
            type="password"
            name="upasscode"
            id="passcode"
            placeholder="Enter an password"
            required
            [(ngModel)]="password"
          />
        </div>
        <div class="align-contents">
          <button type="submit">Sign In</button>
        </div>
        <div class="align-contents">
          <a href="/register">create an account...</a>
        </div>
      </div>
    </form>
  </div>
</div>
